<!DOCTYPE html>
<html lang="sv">

<head>
  <!-- meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Casa Luxe">
  <meta name="language" content="sv">
  <meta name="robots" content="index, follow">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Case Luxe - Trändiga Möbler">
  <meta property="og:description" content="Casa Luxe">
  <meta property="og:url" content="https://www.casaluxe.se">
  <meta property="og:image" content="https://casaluxe.se/og-image.jpg">
  <!--/ meta -->

  <!-- title -->
  <title>Casa Luxe | Hem</title>
  <!--/ title -->

  <!-- links -->
  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="/img/logo/logo.webp">
  <!--/ favicon -->

  <!-- css -->
  <link href='/css/style.css' rel='stylesheet' />
  <!-- fonawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- css -->
</head>



<body>
  <!-- header -->
  <header>
    <div class="header-top">
      <div class="header-logo">
        <a href="/"><img class="logo" src="/img/logo/logo.webp" alt="logo"></a>
      </div>
      <div class="search-top">
        <input type="text" id="myInput" placeholder="Vad letar du efter?" title="Type in a name">
      </div>

      <div class="header-icons">
        <a href="/login"><i class='fa fa-user-circle' style='font-size:24px;color: black;'></i></button></a>
        <a href="#"><i class="fa fa-heart-o" style="font-size:24px;color:black"></i></a>
        <a href="#"><i class="fa fa-shopping-cart" style="font-size:24px; color: #000"></i></a>
      </div>

    </div>
  </header>
  <!--/ header -->

  <!-- navbar -->
  <nav class="top-nav">
    <div class="topnav" id="myTopnav">
      <a href="/" class="active"><i class="fa fa-home" style="font-size:20px;color:black"></i></a>
      <a href="#news"><i class="fa fa-shopping-cart" style="font-size:18px;color:black"></i> Butiker</a>
      <a href="/contact">Kontakta Oss</a>
      <a href="#about">About</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
  </nav>
  <!--/ navbar -->

  <!-- Nyprodukt Slideshow Section -->
  <div class="mt-60 mx-16">
    <h1 class="text-left text-black text-2xl font-bold max-w-xs mb-6">
      Nya produkter
    </h1>
    <div class="overflow-x-auto whitespace-nowrap border-4 border-gray-200 rounded-lg relative h-52">
      <div class="inline-flex">
        <% posts.forEach(post=> { %>
          <div class="mr-4">
            <a href="/nyprodukt/<%= post.urlSlug %>">
              <img src="<%= post.featuredImage %>" alt="image"
                class="w-86 h-60 object-cover rounded-lg transition-transform duration-300 transform hover:scale-110">
            </a>
          </div>
          <% }) %>
      </div>
    </div>
  </div>

  <form action="/" method="GET">

    <label for="sort">Sort By:</label>
    <select name="sort" id="sort">
      <option value="">Pris</option>
      <option value="low-to-high">Pris:Lägst till högst</option>
      <option value="high-to-low">Pris: Högst till lägst</option>
    </select>


    <label for="slug">Kategori:</label>
    <select name="slug" id="slug">
      <option value="">Färger</option>
      <option value="Soffa-1">Mörkgrå-Soffa</option>
      <option value="Soffa-2">Grå-Soffa</option>
      <option value="Soffa-3">Röd-Soffa</option>
      <option value="Soffa-4">Beige-Soffa</option>
      <option value="Soffa-5">Blå-Soffa</option>
      <option value="Soffa-6">Svart-Soffa</option>
      <option value="Soffa-7">Vit-Soffa</option>
      <option value="Soffa-8">Turkos-Soffa</option>
    </select>



    <button type="submit">Filtrera</button>
    <button type="button" id="clear-filters">Rensa Filter</button>
  </form>

  <script>
    document.getElementById("clear-filters").addEventListener("click", function () {
      document.getElementById("sort").value = "";
      document.getElementById("slug").value = "";

      fetch(`/products`)  // Skicka en förfrågan utan filterparametrar
        .then(response => response.json())
        .then(data => {
          const productGrid = document.querySelector(".product-grid");
          productGrid.innerHTML = ""; // Rensa nuvarande produkter

          data.forEach(product => {
            const productCard = `
          <div class="product-card">
            <a href="product.ejs">
              <img src="/img/products/${product.image}" alt="${product.name}">
            </a>
            <h2>${product.name}</h2>
            <p class="price">${product.price} kr</p>
            <div class="icons">
              <button class="wishlist"><i class="fa fa-shopping-basket"></i></button>
              <button class="home"><i class="fa fa-heart"></i></button>
            </div>
          </div>`;
            productGrid.innerHTML += productCard;
          });
        });
    });

  </script>

  <!-- main och produkt-grid -->

  <div class="product-grid">
    <% products.forEach(product=> { %>
      <div class="product-card">
        <img src="/img/products/<%= product.image %>" alt="<%= product.name %>">

        <h2>
          <%= product.name %>
        </h2>
        <p class="price">
          <%= product.price %>
        </p>
        <div class="icons">
          <button class="wishlist"><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
          <button class="home"><i class="fa fa-heart" aria-hidden="true"></i></button>
        </div>
      </div>
      <% }); %>
  </div>

  <!--footer -->
  <footer class=" footer-container">
    <!--footer accordeon menu -->
    <div class="accordeon-menu">
      <button class="accordion">CASA LUXE</button>
      <div class="panel">
        <ul class="text-black dark:text-black font-medium ">
          <li>
            <a href="#">Om Oss</a>
          </li>
          <li>
            <a href="#">Jobba hos oss</a>
          </li>
          <li>
            <a href="#">Brand Center</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
        </ul>
      </div>

      <button class="accordion">HJÄLPCENTER</button>
      <div class="panel">
        <ul>
          <li>
            <a href="#">Fakturafrågor</a>
          </li>
          <li>
            <a href="#">Produktfrågor</a>
          </li>
          <li>
            <a href="#">Teknisksupport</a>
          </li>
          <li>
            <a href="/contact">Kontakta Oss</a>
          </li>
        </ul>
      </div>

      <button class="accordion">VILLKÖR</button>
      <div class="panel">
        <ul>
          <li>
            <a href="#">Användarevillkör</a>
          </li>
          <li>
            <a href="#">Leverans</a>
          </li>
          <li>
            <a href="#">Allmänna villkor</a>
          </li>
          <li>
            <a href="#">GDPR</a>
          </li>
        </ul>
      </div>
      <button class="accordion">MITT KONTO</button>
      <div class="panel">
        <ul>
          <li>
            <a href="#">Önskelista</a>
          </li>
          <li>
            <a href="#">Min Vagn</a>
          </li>
          <li>
            <a href="#">Min Ordrar</a>
          </li>
          <li>
            <a href="#">Min Fakturor</a>
          </li>
        </ul>
      </div>
    </div>
    <!--/footer accordeon menu -->

    <!-- footer link -->
    <div class="footer-link">
      <div class="footer-menu">
        <div class="footer-logo">
          <a href="/"><img class="logo" src="/img/logo/logo.webp" alt="logo"></a>
        </div>
        <div>
          <h2>
            Casa Luxe</h2>
          <ul>
            <li>
              <a href="#">Om Oss</a>
            </li>
            <li>
              <a href="#">Jobba hos oss</a>
            </li>
            <li>
              <a href="#">Brand Center</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
          </ul>
        </div>
        <div>
          <h2>
            Hjälpcenter</h2>
          <ul>
            <li>
              <a href="#">Fakturafrågor</a>
            </li>
            <li>
              <a href="#">Produktfrågor</a>
            </li>
            <li>
              <a href="#">Teknisksupport</a>
            </li>
            <li>
              <a href="/contact" hover:underline">Kontakta Oss</a>
            </li>
          </ul>
        </div>
        <div>
          <h2>
            Villkör</h2>
          <ul>
            <li>
              <a href="#">Användarevillkör</a>
            </li>
            <li>
              <a href="#">Leverans</a>
            </li>
            <li>
              <a href="#">Allmänna villkor</a>
            </li>
            <li>
              <a href="#">GDPR</a>
            </li>
          </ul>
        </div>
        <div>
          <h2>
            Mitt Konto</h2>
          <ul>
            <li>
              <a href="#">Önskelista</a>
            </li>
            <li>
              <a href="#">Min Vagn</a>
            </li>
            <li>
              <a href="#">Min Ordrar</a>
            </li>
            <li>
              <a href="#">Min Fakturor</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- footer link -->

      <!-- footer bottom -->
      <div class="footer-debug">
        <div class="footer-logo-mobil">
          <a href="/"><img src="/img/logo/logo.webp" alt=""></a>
        </div>
        <div>
          <span class="copiright"><a href="https://casaluxe.com/">Casa
              Luxe™</a> © 2025 All Rights Reserved.
          </span>
        </div>

        <div class="social-icons ">
          <a href="https://www.linkedin.com" target="_blank"><img src="/img/icons/linkedin.png" alt="linkedin"></a>
          <a href="https://www.facebook.com" target="_blank"><img src="/img/icons/facebook.png" alt="facebook"></a>
          <a href="https://www.instagram.com/" target="_blank"><img src="/img/icons/instagram.png" alt="instagram"></a>
          <a href="https://www.youtube.com" target="_blank"><img src="/img/icons/youtube.png" alt="youtube"></a>
        </div>
        <div class="betal-icons">
          <img src="/img/icons/card.png" alt="card">
          <img src="/img/icons/paypal.png" alt="paypal">
          <img src="/img/icons/stripe.png" alt="stripe">
          <img src="img/icons/bank.png" alt="bank">
        </div>
      </div>
      <!-- / footer bottom -->
    </div>
  </footer>
  <!--/ footer -->









  <script src="/js/main.js"></script>
</body>

</html>